<!-- role-form.component.html -->
<div class="container mx-auto mt-5 p-5 max-w-xl ">
    <h2 class="text-2xl font-bold mb-5 text-center hover:underline text-blue-900">{{ roleId ? 'Edit Role' : 'Add Role' }}</h2>
    <form [formGroup]="roleForm" (ngSubmit)="saveRole()">
      <div class="mb-4">
        <label for="name" class="block text-gray-700">Name</label>
        <input id="name" formControlName="name" type="text" placeholder="Add Role name" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3" />
        @if (roleForm.get('name')?.invalid && roleForm.get('name')?.touched) {
            <div  class="text-red-500">
                Name is required.
            </div>
          }
      </div>
      <div class="mb-4">
        <label for="description" class="block text-gray-700">Description</label>
       
        <textarea id="description" formControlName="description" placeholder="Add Role description" class="mt-1 block w-full border border-gray-300 rounded py-2 px-3"></textarea>
        @if (roleForm.get('description')?.invalid && roleForm.get('description')?.touched) {
            <div  class="text-red-500">
                Description is required.
            </div>
          }
      </div>
      <div class=" text-center">
        <button type="submit" class="bg-blue-500 text-white px-8 py-2 rounded hover:bg-blue-900">{{ roleId ? 'Update' : 'Save' }}</button>
      </div>
     
    </form>
</div>
  